.container-item{
 display: flex;
 background-color: white;
 height: 60px;
 border-radius: 5px;
 justify-content: space-between;
 box-sizing: border-box;
 padding: 0px 20px;
 margin: 10px 0px;
 cursor: pointer;
}

.item-icon{
 text-align: center;
 width: 50px;
 height: 50px;
 line-height: 50px;
 color: #3b4557;
 font-size: x-large;
}
.item-count,.item-icon,.container-item>h4{
 align-self: center;
}
.container-item>h4{
 text-align: left;
 width: 100%;
 color: #3b4557;
 font-size: large;
 padding-left: 20px;
}
.container-item>.item-icon{
 color: #3b4557;
}
.item-count{
 text-align: center;
 line-height: 40px;
 width: 50px;
 height: 40px;
 border-radius: 20px;
 background-color: #f4f4f4;
 color: #0047ba;
 font-size: x-large;
}

.container-item-header{
 background-color: #3b4557 !important;
}
.container-item-header >h4{
 color: white;
 padding-left: 8px;
}

.area-item>h4{
 padding-left: 8px;
}

.active{
 background-color: #0047ba;
}
.active>.item-icon{
 color: white;
}
.active>h4{
 color: white;
}


